<ul class="summary_board">
    <li class="item">
        <!--[D] 선택 후 .on 추가 link_summary_board -->
        <a href="#" class="link_summary_board on">
            <i class="spr_book2 ico_book2"></i>
            <em class="tit">전체</em>
            <span class="figure">{{totalReservationCount}}</span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="link_summary_board">
            <i class="spr_book2 ico_book_ss"></i>
            <em class="tit">이용예정</em>
            <span class="figure">{{scheduledReservationCount}}</span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="link_summary_board">
            <i class="spr_book2 ico_check"></i>
            <em class="tit">이용완료</em>
            <span class="figure">{{completedReservationCount}}</span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="link_summary_board">
            <i class="spr_book2 ico_back"></i>
            <em class="tit">취소·환불</em>
            <span class="figure">{{canceledReservationCount}}</span>
        </a>
    </li>
</ul>
