{{#each this}}
    <li style="display:inline-block; width:100%; height:100%; text-align:center;">
        <img src="/api/images/{{this}}" style="max-width:100%; max-hegiht:100%;">
    </li>
{{/each}}
